.title {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
    &_fz-48 {
        font-size: 48px;
    }
    &_fz-36 {
        font-size: 36px;
    }
    &_fz-20 {
        font-size: 20px;
    }
    &_fz-16 {
        font-size: 16px;
    }
}